
<!DOCTYPE HTML>

<head>
	<meta charset="UTF-8">
	<title>Cashemir. Responsive One Page Portfolio</title>
	<meta name="description" content="Your website description here">
	<meta name="keywords" content="your, website, keywords, here">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
<!--=============== css  ===============-->	
    <link rel="stylesheet" href="../css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/normalize.css" type="text/css" media="screen">
	<link rel="stylesheet" href="../css/grid.css" type="text/css" media="screen">
	<link rel="stylesheet" href="../css/owl.carousel.css" type="text/css" media="screen">
	<link rel="stylesheet" href="../css/flexslider.css" type="text/css" media="screen">
	<link rel="stylesheet" href="../css/magnific-popup.css" type="text/css" media="screen">
	<link rel="stylesheet" href="../css/superslides.css" type="text/css" media="screen">
	<link rel="stylesheet" href="../css/style.css" type="text/css" media="screen">


	
<!--=============== fonts  ===============-->

	<link href='http://fonts.useso.com/css?family=Oswald:400,700|Open+Sans:400,300' rel='stylesheet' type='text/css'>
<!--=============== modernizr  ===============-->

	<script src="../js/modernizr.custom.97074.js"></script>
	
<!--=============== google map ===============-->

	<!--=============== ie styles  ===============-->

	<!--[if IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	
<!--=============== favicons ===============-->

	<link rel="shortcut icon" href="../images/favicon.ico">    
</head>

<body onLoad="initialize()">
<div id="main">

<!--=============== navigation ===============-->

	<div class="navigation isDown">
	
		<div class="nav-overlay"></div>
		
		<div class="nav-button">
			<span></span>
			<span></span>
			<span></span>
		</div>
		
		<div class="inner">
			<img src="../images/logo.png" class="logo" alt="">
			
			<div class="link-holder">
			<ul>
				<li><a href="../index.html#about">About</a></li>
				<li><a href="../index.html#team">Team</a></li>
				<li><a href="../index.html#servises">Services</a></li>
				<li class="current"><a href="../index.html#portfolio">Portfolio</a></li>
				<li><a href="../index.html#prices">Prising</a></li>
				<li><a href="../index.html#contacts">Contacts</a></li>
			</ul>
			</div>
			
		</div>
	
		<div class="social-list">
			
			<ul>
				<li><a href="#"  target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
				<li><a href="#"  target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
				<li><a href="#"  target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>	
			</ul>
						
		</div>	
			 
	</div>	
	<!-- navigation end -->	

	<div class="overlay fixed-overlay body-overlay"></div>	
	
	<div class="wrapper">



		<div id="portfolio" class="sections">
		<div class="content">
			<div class="container grid1">
				<h3 class="sections-head">What we do</h3>
				<h2>Our work</h2>
				
				<div class="small-separator"></div>	
		
			</div>
			
			<div id="ajaxpage">
				<div class="height-emulator"></div> 
				<div class="container">
				<h2>Aliquam</h2>
				<div class="small-separator sepcolor"></div>
				<div class="clear"></div>
					<div class="grid-4">
	
						<div class="flexslider">
							<ul class="slides">
								<li><img src="http://placehold.it/350x150" class="respimg" alt=""></li>
								<li><img src=" http://placehold.it/350x150" class="respimg" alt=""></li>
								<li><img src=" http://placehold.it/350x150" class="respimg" alt=""></li>
							</ul>
						  </div>	
	
					</div>
				<div class="grid-2">
	
					<div class="project-info">
							<div class="project-description">
							  <h3>Project description</h3>
							   <p>Fusce sed dui feugiat, semper metus non, dictum diam. Donec quis convallis nulla. Vivamus in sem et arcu consectetur consequat. Vivamus ut porta velit, in sollicitudin velit. Praesent accumsan et lectus eu consectetur. Nullam augue felis, faucibus id magna vitae, porta tincidunt enim. </p>
											   
							</div>
						
							<div class="project-details">
							  <h3>Project Details</h3>
							  <p><span>Client</span>: Themeforest</p>
							  <p><span>Date</span>: 6th December, 2013</p>
							  <p><span>Tags</span>: Photography, Design, Branding</p>                                        
							</div>
						</div>
						
					</div>
	
				</div>
				
				<div class="height-emulator"></div>
				<div class="lanch-holder">
					<div class="container">
						 <a href="#" class="lanch-project">Lanch</a>
					</div>	
				</div>		
			</div> 
		</div>	     
	  </div> 
  
        
 <!--=============== section contacts ===============-->

	<div id="contacts" class="sections">
		<div class="content">
			<div class="quote-icon to-top"><i class="fa fa-angle-up"></i></div>
			<div class="container">
			
				<!--contact form -->
									
				<div class="contactForm clear">
					<fieldset id="contact_form">											
								
						<div class="grid-half">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
								
						<div class="grid-half">
							<label for="email" class="em">Email</label>
							<input type="text" name="email" id="email"  class="right" />
						</div>
								
						<label for="message" class="m-top">Message</label>
						<textarea name="message"  id="message" ></textarea>
								
						<div class="clear"></div>
															
						<label>
							<button class="submit_btn transition" id="submit_btn">SEND</button>
						</label>
						<div id="result"></div>
						
					</fieldset>
						
				</div>
		
				<div class="contact-details">
				
	
					<div class="grid-2">
						<div class="smallicon animaper phone"><i class="fa fa-mobile fa-2x"></i></div>
						<span>+7(111)123456789</span>
					</div>
						
					<div class="grid-2 showform">
						<div class="smallicon actform  animaper"><i class="fa fa-envelope-o fa-2x"></i></div>
						<span>yourmail@domain.com</span>
					</div>
						
					<div class="grid-2">
						<div class="smallicon animaper showmap mnv "><i class="fa fa-home fa-2x"></i></div>
						<span>Third Main Street, 27th Brooklyn,<br> NY City 1000-204 NY</span>
					</div>
						
				</div>						
				
			</div>
			
			<!--map-->
			<div class="mapbox">
				<div class="map-decor"></div>
				<div class="close-map"><img src="images/close-white.png" alt=""><div class="triangle"></div></div>
				<div id="map_canvas"></div>
			</div>
				
			<!-- footer -->
		
			<div class="footer clear">
			
				<p>Cashemir  ©2014  All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				<div class="small-separator ws"></div>
				
			</div> <!--footer end-->
			
		</div>
	</div><!--=============== section contacts end ===============-->
	

	
	</div> <!--=============== wrapper end ===============-->
		
</div><!--=============== main end ===============-->

	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/jpreloader.min.js"></script>
	<script type="text/javascript" src="../js/smoothscroll.js"></script>
	<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="../js/superslides.js"></script>
	<script type="text/javascript" src="../js/mixitup.js"></script>
	<script type="text/javascript" defer src="../js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="../js/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="../js/jquery.scrollTo-1.4.2-min.js"></script>
	<script type="text/javascript" src="../js/hoverdir.js"></script>
	<script type="text/javascript" src="../js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="../js/appear.js"></script>
	<script type="text/javascript" src="../js/jquery.nav.js"></script>
	<script type="text/javascript" src="../js/fitvids.js"></script>
	<script type="text/javascript" src="../js/scripts.js"></script>
	<script type="text/javascript" src="../js/jquery.lavalamp.min.js"></script>
	<script>
	$(document).ready(function(){
		$('.flexslider').flexslider({											
			animation: "slide",
			slideDirection: "horizontal",
			slideshow: false,
			slideshowSpeed: 3500,
			animationDuration: 500,
			directionNav: true,
			controlNav: true,											
		});
	});
	</script>
</body>
</html>