<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Archetype Created Web Application</display-name>

    <!--配置 Spring 容器-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring_root.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--配置 Spring mvc 容器-->
    <!--将所有请求，都交给Spring MVC 处理-->
    <servlet>
        <servlet-name>webs</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring_web.xml</param-value>
        </init-param>
    </servlet>
    <!--将 请求 截取 转交给 webs -->
    <servlet-mapping>
        <servlet-name>webs</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

</web-app>