<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--=============== basic  ===============-->

	<meta charset="UTF-8">
	<title th:text="${session.SESSION_LOGINING_USER.user_call +'的博客'}"></title>
	<meta name="description" content="Your website description here">
	<meta name="keywords" content="your, website, keywords, here">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	
<!--=============== css  ===============-->	
    <link rel="stylesheet" href="statics/css/font-awesome.min.css">
	<link rel="stylesheet" href="statics/css/normalize.css" type="text/css" media="screen">
	<link rel="stylesheet" href="statics/css/grid.css" type="text/css" media="screen">
	<link rel="stylesheet" href="statics/css/owl.carousel.css" type="text/css" media="screen">
	<link rel="stylesheet" href="statics/css/flexslider.css" type="text/css" media="screen">
	<link rel="stylesheet" href="statics/css/magnific-popup.css" media="all">
	<link rel="stylesheet" href="statics/css/superslides.css" type="text/css" media="screen">
	<link rel="stylesheet" href="statics/css/style.css" type="text/css" media="screen">
	
<!--=============== fonts  ===============-->

<!--	<link href='http://fonts.useso.com/css?family=Oswald:400,700|Open+Sans:400,300' rel='stylesheet' type='text/css'>-->
	
<!--=============== colors  ===============-->	

	<link rel="alternate stylesheet" type="text/css" href="statics/css/blue-style.css" title="blue" media="screen" />
	<link rel="alternate stylesheet" type="text/css" href="statics/css/green-style.css" title="green" media="screen" />
	<link rel="alternate stylesheet" type="text/css" href="statics/css/yellow-style.css" title="yellow" media="screen" />
	<link rel="alternate stylesheet" type="text/css" href="statics/css/orange-style.css" title="red" media="screen" />




<!--=============== modernizr  ===============-->

	<script src="statics/js/modernizr.custom.97074.js"></script>
	
<!--=============== google map ===============-->

	<!--=============== ie styles  ===============-->

	<!--[if IE 8]><link rel="stylesheet" type="text/css" href="statics/css/ie8.css" /><![endif]-->
	
<!--=============== favicons ===============-->

	<link rel="shortcut icon" href="statics/images/favicon.ico">

</head>

<body onLoad="initialize()">

<div id="main">

<!--=============== navigation ===============-->

	<div class="navigation isDown">
	
		<div class="nav-overlay"></div>
		
		<div class="nav-button transition">
			<span></span>
			<span></span>
			<span></span>
		</div>
		
		<div class="inner">
			<img src="images/logo.png" class="logo" alt="" title="">
			
			<div class="link-holder" id="nav">
			<ul>
				<li><a href="index.html#about">About</a></li>
				<li><a href="index.html#services">Services</a></li>
				<li><a href="index.html#portfolio">Portfolio</a></li>
				<li><a href="index.html#resume">Resume</a></li>
				<li><a href="index.html#contacts">Contacts</a></li>
				<li class="current"><a href="blog.html">Blog</a></li>
				<li><a href="shortcodes.html">Shortcodes</a></li>
<li><a href="http://www.cssmoban.com">More themes</a></li>
			</ul>
			</div>
			
		</div>
	
		<div class="social-list">
			
			<ul>
				<li><a href="#"  target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
				<li><a href="#"  target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
				<li><a href="#"  target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>	
			</ul>
						
		</div>	
			 
	</div><!--=============== navigation end ===============-->

	<div class="overlay fixed-overlay body-overlay"></div>	
	
	<div class="wrapper">
	

	<div class="sections simple-page-head">
		<div class="content">
			<div class="rester"></div>
			<div class="rester black"></div>
			<div class="container">
				<h2>
					<span th:text="${session.SESSION_LOGINING_USER.user_call}"></span>
					<span> Welcome！</span>
				</h2>

				<div class="small-separator"></div>
			</div>
		</div>
	
	</div>
	
	<div class="sections ws simple-page">
		<div class="content">
		<div class="quote-icon"><i class="fa fa-tasks"></i></div>
		
		<div class="container">
		<!-- Begin Posts -->
		<div class="grid-4">

			<!-- Standard Post -->
			<div class="post">
				<div class="post-decor"></div>
				<span class="date">12<br><small>Jul</small></span>
				<div class="post-media">
					<img src="images/folio/1.jpg"  class="respimg" alt="">
				</div>
				<div class="post-title">
					<h2><a href="blog-single.html">Phasellus tempor .</a></h2>
					<div class="post-meta">
						<h6>Posted by <a href="#">Maruis</a> / <a href="#">Standart</a></h6>							
					</div>
				</div>				
					
				<div class="post-body">
					<p>Etiam in nulla arcu, ut vehicula velit. Vivamus dapibus rutrum mi ut aliquam. In hac habitasse platea dictumst. Integer sagittis neque a tortor tempor in porta sem vulputate. Donec varius felis fermentum nisl imperdiet at molestie purus porta.</p>
					<div>
						<a href="#" class="transition">Read more</a>
					</div>
				</div>
			</div>

			<!-- Standard Post -->
			<div class="post">
			<div class="post-decor"></div>
				<span class="date">28<br><small>Aug</small></span>
				<div class="post-media">
					<div class="video-container">
						<iframe src="//player.vimeo.com/video/64128885" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
					</div>	
				</div>
				<div class="post-title">
					<h2><a href="blog-single.html">Cras faucibus.</a></h2>
					<div class="post-meta">
						<h6>Posted by <a href="#">Alex </a> / <a href="#">Video</a></h6>							
					</div>
				</div>				
					
				<div class="post-body">
					<p>Nullam adipiscing sapien ut mi elementum sit amet dictum magna luctus. Donec id ligula ut tellus ultricies ornare quis vel nunc lorem ipsum dolor sit amet.</p>
					<div>
						<a href="#" class="transition">Read more</a>
					</div>
				</div>
			</div>

			<!-- Standard Post -->
			<div class="post">
				<div class="post-decor"></div>
				<span class="date">18<br><small>May</small></span>
				<div class="post-media">
				
						<div class="single-media">
							<ul class="slides">
								<li><img src="images/folio/1.jpg" class="respimg"></li>
								<li><img src="images/folio/1.jpg" class="respimg"></li>
								<li><img src="images/folio/1.jpg" class="respimg"></li>
							</ul>
						  </div>	
				</div>
				<div class="post-title">
					<h2><a href="blog-single.html">Vestibulum sodales nulla iaculis.</a></h2>
					<div class="post-meta">
						<h6>Posted by <a href="#">Mike</a> / <a href="#">Gallery</a></h6>							
					</div>
				</div>				
					
				<div class="post-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod nec ipsum id vehicula. Aenean a pulvinar sem. Phasellus commodo neque nec volutpat elementum. </p>
					<div>
						<a href="#" class="transition">Read more</a>
					</div>
				</div>
			</div>
			
			
			<div class="clear"></div>	
					
			<div class="pagination">
				<a href="#" class="prevposts-link transition"><i class="fa fa-chevron-left"></i></a>
				<a href="#" class="blog-page transition">1</a>
				<a href="#" class="blog-page current-page transition">2</a>
				<a href="#" class="blog-page transition">3</a>
				<a href="#" class="blog-page transition">4</a>
				<a href="#" class="nextposts-link transition"><i class="fa fa-chevron-right"></i></a>
			</div> 	
			
			

		</div>
		<!-- End Posts -->

		<!-- Begin Sidebar -->
		<div class="grid-2">
			<div class="sidebar">
				
				<!-- search widget -->
				<div class="widget clearfix">
					<form action="#" class="searh-holder">
						<input name="se" id="se" type="text" class="search" placeholder="Search.." value="" />
						<button class="search-submit" id="submit_btn"/><i class="fa fa-search transition"></i> </button>
					</form>
				</div>
					


				
				
				<!-- categories widget -->
				<div class="widget">
					<h4>CATEGORIES</h4>
					<ul>
						<li class="cat-item"><a href="#">Standard</a> (3)</li>
						<li class="cat-item"><a href="#">Video</a> (6)</li>
						<li class="cat-item"><a href="#">Gallery</a> (12)</li>
						<li class="cat-item"><a href="#">Quotes</a> (4)</li>
					</ul>
				</div>

				
				<!-- tagcloud widget -->
				<div class="widget">
					<h4>TAGS</h4>
					<div class="tagcloud">
						<a href='#'>Portfolio</a>
						<a href='#'>Tag</a>
						<a href='#'>Demo</a>
						<a href='#'>Blog</a>
					</div>
				</div>
				


				<!-- archives widget -->
				<div class="widget widget-archive">
					<h4>Archives</h4>
					<ul>
						<li><a href="#">July 2013</a></li>
						<li><a href="#">June 2013</a></li>
					</ul>
				</div>


				






			</div>
		</div>
		<!-- End Sidebar -->			
			
			
			</div>

		</div>
	
	</div>	

	



		
				 	
	

	

<!--=============== section clients ===============-->	

	<div id="clientlist" class="no-nav">
		<div class="content">
			<div class="client-carusel-holder no-nav">
			
				<div class="container">
				
					<div id="client-carusel" class="owl-carousel">
					
						<div class="item">
							<img src="images/clients/1.png" class="respimg" alt="" title="">
						</div>
						
						<div class="item">
							<img src="images/clients/2.png" class="respimg" alt="" title="">
						</div>
						
						<div class="item">
							<img src="images/clients/3.png" class="respimg" alt="" title="">
						</div>
						
						<div class="item">
							<img src="images/clients/4.png" class="respimg" alt="" title="">
						</div>
						
						<div class="item">
							<img src="images/clients/5.png" class="respimg" alt="" title="">
						</div>
						
						<div class="item">
							<img src="images/clients/6.png" class="respimg" alt="" title="">
						</div>
						
					</div>
					
				</div>
			
			</div>
		</div>
	</div>	<!--=============== section clients end ===============-->
	
<!--=============== section contacts ===============-->

	<div id="contacts" class="sections">
		<div class="content">
			<div class="quote-icon to-top"><i class="fa fa-angle-up"></i></div>
			<div class="container">
			
				<!--contact form -->
									
				<div class="contactForm clear">
					<fieldset id="contact_form">											
								
						<div class="grid-half">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" />
						</div>
								
						<div class="grid-half">
							<label for="email" class="em">Email</label>
							<input type="text" name="email" id="email"  class="right" />
						</div>
								
						<label for="message" class="m-top">Message</label>
						<textarea name="message"  id="message" ></textarea>
								
						<div class="clear"></div>
															
						<label>
							<button class="submit_btn transition" id="submit_btn">SEND</button>
						</label>
						<div id="result"></div>
						
					</fieldset>
						
				</div>
		
				<div class="contact-details">
				
	
					<div class="grid-2">
						<div class="smallicon animaper phone"><i class="fa fa-mobile fa-2x"></i></div>
						<span>+7(111)123456789</span>
					</div>
						
					<div class="grid-2 showform">
						<div class="smallicon actform  animaper"><i class="fa fa-envelope-o fa-2x"></i></div>
						<span>yourmail@domain.com</span>
					</div>
						
					<div class="grid-2">
						<div class="smallicon animaper showmap mnv "><i class="fa fa-home fa-2x"></i></div>
						<span>Third Main Street, 27th Brooklyn,<br> NY City 1000-204 NY</span>
					</div>
						
				</div>						
				
			</div>
			
			<!--map-->
			<div class="mapbox">
				<div class="map-decor"></div>
				<div class="close-map"><img src="images/close-white.png" alt=""><div class="triangle"></div></div>
				<div id="map_canvas"></div>
			</div>
				
			<!--footer end-->

			<div class="footer clear">
			
				<p>Cashemir  ©2014  All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				<div class="small-separator ws"></div>
				
			</div> <!--footer end-->
			
		</div>
	</div><!--=============== section contacts end ===============-->
	

	
</div><!--=============== wrapper end ===============-->

		
</div><!--=============== main end ===============-->
 
<!--=============== javascript ===============-->

	<script type="text/javascript" src="statics/js/jquery.min.js"></script>
	<script type="text/javascript" src="statics/js/jpreloader.min.js"></script>
	<script type="text/javascript" src="statics/js/smoothscroll.js"></script>
	<script type="text/javascript" src="statics/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="statics/js/superslides.js"></script>
	<script type="text/javascript" src="statics/js/mixitup.js"></script>
	<script type="text/javascript" defer src="statics/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="statics/js/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="statics/js/jquery.scrollTo-1.4.2-min.js"></script>
	<script type="text/javascript" src="statics/js/hoverdir.js"></script>
	<script type="text/javascript" src="statics/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="statics/js/appear.js"></script>
	<script type="text/javascript" src="statics/js/jquery.nav.js"></script>
	<script type="text/javascript" src="statics/js/fitvids.js"></script>
	<script type="text/javascript" src="statics/js/jquery.lavalamp.min.js"></script>
	<script type="text/javascript" src="statics/js/jquery.hammer.min.js"></script>
	<script type="text/javascript" src="statics/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="statics/js/scripts.js"></script>
</body>
</html>