<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Cashemir. Responsive One Page Portfolio</title>
    <meta name="description" content="Your website description here"/>
    <meta name="keywords" content="your, website, keywords, here"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="statics/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="statics/css/normalize.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="statics/css/grid.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="statics/css/owl.carousel.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="statics/css/flexslider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="statics/css/magnific-popup.css" media="all"/>
    <link rel="stylesheet" href="statics/css/superslides.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="statics/css/style.css" type="text/css" media="screen"/>
    <!--	<link href='http://fonts.useso.com/css?family=Oswald:400,700|Open+Sans:400,300' rel='stylesheet' type='text/css'/>-->
    <script src="js/modernizr.custom.97074.js"></script>
    <link rel="stylesheet" type="text/css" href="statics/css/ie8.css"/>
    <link rel="shortcut icon" href="statics/images/favicon.ico"/>

</head>

<body onLoad="initialize()">

<div id="main">

    <!--=============== navigation ===============-->

    <div class="navigation isDown">

        <div class="nav-overlay"></div>

        <div class="nav-button transition">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="inner">
            <img src="images/logo.png" class="logo" alt="" title=""/>

            <div class="link-holder" id="nav">
                <ul>
                    <li class="current"><a href="#about" class="scroll-link">About</a></li>
                    <li><a href="#team" class="scroll-link">Team</a></li>
                    <li><a href="#servises" class="scroll-link">Services</a></li>
                    <li><a href="#portfolio" class="scroll-link">Portfolio</a></li>
                    <li><a href="#prices" class="scroll-link">Prising</a></li>
                    <li><a href="#contacts" class="scroll-link">Contacts</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="shortcodes.html">Shortcodes</a></li>
                    <li><a href="http://www.cssmoban.com">More themes</a></li>
                </ul>
            </div>
        </div>

        <div class="social-list">

            <ul>
                <li><a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
            </ul>

        </div>

    </div>    <!--=============== navigation end ===============-->

    <div class="overlay fixed-overlay body-overlay"></div>

    <div class="wrapper">

        <!--=============== intro slide ===============-->

        <div id="intro">

            <div id="topSlide">
                <div id="slides">
                    <ul class="slides-container">

                        <!-- Slide 1 -->

                        <li>
                            <div class="rester"></div>
                            <div class="container">
                                <h3>Responsive one page portfolio</h3>
                                <h1 class="white">We are <span>Cashemir</span></h1>
                                <div class="patern clear"><span></span></div>
                            </div>

                            <div style="background-image: url('images/bg/1.jpg');" class="slides-big-img"></div>
                        </li>

                        <!-- Slide 2 -->

                        <li>
                            <div class="rester"></div>
                            <div class="container">
                                <h3>Personal or Team</h3>
                                <h1 class="white"><span>Two</span> Versions</h1>
                                <div class="patern clear"><span class="right"></span></div>
                            </div>

                            <div style="background-image: url('images/bg/1.jpg');" class="slides-big-img"></div>
                        </li>

                        <!-- Slide 3 -->

                        <li>
                            <div class="rester"></div>
                            <div class="container ">
                                <h3>Four colors</h3>
                                <h1 class="white">Slider <span>or</span> Video </h1>
                                <div class="patern clear"><span></span></div>
                            </div>

                            <div style="background-image: url('images/bg/1.jpg');" class="slides-big-img"></div>
                        </li>
                    </ul>

                    <div class="slides-navigation">
                        <a href="#" class="prev"><i class="fa fa-long-arrow-left fa-2x"></i></a>
                        <a href="#" class="next"><i class="fa fa-long-arrow-right fa-2x"></i></a>
                    </div>

                </div>
                <a href="#about" class="start"><img src="images/start.png" alt="" title=""></a>

            </div>

        </div><!--=============== intro end ===============-->

        <!--=============== section about ===============-->

        <div id="about" class="sections ws">
            <div class="content">
                <div class="container">
                    <h3 class="sections-head">Who we are</h3>
                    <h2>About us</h2>

                    <div id="owl-demo" class="owl-carousel">

                        <!-- slide 1-->

                        <div class="item fist-slide">
                            <div class="small-separator"></div>
                            <p>With clients all over the world and expertise in everything digital, we are ambitious,
                                growing fast and committed to providing the best digital services. We have an impeccable
                                track record for helping our customers gain popularity in the online world and
                                beyond.</p>


                            <img src="images/ipad7.png" class="present-block animaper" alt="" title="">

                            <div class="customNavigation">
                                <a class="btn next-slide transition lanch-sklills">next</a>
                            </div>

                        </div>

                        <!-- slide 2 -->

                        <div class="item">


                            <div class="grid-2">

                                <h3 class="bigtext">Our Philosophy</h3>
                                <div class="small-separator"></div>

                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae dicta sunt explicabo. Donec ut volutpat metus. Aliquam
                                    tortor lorem, fringilla tempor dignissim at, pretium et arcu. </p>

                            </div>

                            <div class="grid-2">

                                <h3 class="bigtext">Our Mision</h3>
                                <div class="small-separator"></div>
                                <p> Donec ut volutpat metus. Aliquam tortor lorem, fringilla tempor dignissim at,
                                    pretium et arcu. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                                    inventore veritatis. Donec ut volutpat metus.</p>

                            </div>

                            <div class="grid-2">

                                <h3 class="bigtext">Our skills</h3>
                                <div class="small-separator"></div>
                                <div class="skillbar-holder">

                                    <div class="skillbar-title"><span>HTML5</span></div>
                                    <div class="skill-bar-percent">75%</div>
                                    <div class="skillbar clearfix " data-percent="75%">
                                        <div class="skillbar-bar"></div>
                                    </div>

                                    <div class="skillbar-title"><span>CSS3</span></div>
                                    <div class="skill-bar-percent">100%</div>
                                    <div class="skillbar clearfix " data-percent="100%">
                                        <div class="skillbar-bar"></div>
                                    </div>

                                    <div class="skillbar-title"><span>WORDPRESS</span></div>
                                    <div class="skill-bar-percent">85%</div>
                                    <div class="skillbar clearfix " data-percent="85%">
                                        <div class="skillbar-bar"></div>
                                    </div>

                                    <div class="skillbar-title"><span>LOGO DESIGN</span></div>
                                    <div class="skill-bar-percent">55%</div>
                                    <div class="skillbar clearfix" data-percent="55%">
                                        <div class="skillbar-bar"></div>
                                    </div>

                                </div>

                            </div>

                            <div class="customNavigation clear">
                                <a class="btn close transition">next</a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div><!--===============  section about end ===============-->


        <!--=============== section facts ===============-->

        <div id="facts" class="sections">
            <div class="content">
                <div class="container">
                    <h3 class="sections-head">Some fun facts</h3>
                    <div class="small-separator ws"></div>
                    <ul>
                        <!-- fact 1-->
                        <li class="grid-2">

                            <div class="milestone-counter">

                                <div class="stats animaper">
                                    <div class="num" data-content="91" data-num="91">0</div>
                                </div>

                            </div>

                            <h6><i class="fa fa-users fa-2x"></i><span>Our Clients</span></h6>

                        </li>
                        <!-- fact 2-->
                        <li class="grid-2">

                            <div class="milestone-counter">

                                <div class="stats animaper">
                                    <div class="num" data-content="61" data-num="61">0</div>
                                </div>

                            </div>

                            <h6><i class="fa fa-rocket fa-2x"></i><span>Projects completed</span></h6>

                        </li>
                        <!-- fact 3-->
                        <li class="grid-2">

                            <div class="milestone-counter">

                                <div class="stats animaper">
                                    <div class="num" data-content="70" data-num="70">0</div>
                                </div>
                            </div>

                            <h6><i class="fa fa-laptop fa-2x"></i><span>Websites published</span></h6>
                        </li>
                    </ul>

                </div>
            </div>
        </div>  <!--===============  section facts end ===============-->
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/">免费模板</a></div>
        <!--=============== section team ===============-->

        <div id="team" class="sections animaper ws">

            <div class="content">

                <div class="quote-icon"><i class="fa fa-male"></i></div>

                <div class="container">

                    <h3 class="sections-head">Our team</h3>
                    <h2>Meet our team</h2>
                    <div class="clear"></div>
                    <div class="small-separator sepcolor"></div>
                    <div class="clear"></div>
                    <p> We small, friendly and talented team. We helping our customers gain popularity in the online
                        world.</p>
                    <div class="member-box  animaper">

                        <div class="moreinfo notvisible">
                            <img src="images/photos/1.jpg" class="member-photo respimg" alt="" title="">
                            <div class="member-skils">
                                <div class="overlay  team-overlay"></div>
                                <div class="skillbar-holder ms">

                                    <div class="skillbar-title-member"><span>HTML5</span></div>
                                    <div class="skill-bar-percent-member">45%</div>
                                    <div class="skillbar-member" data-percent="45%">
                                        <div class="skillbar-bar-member"></div>
                                    </div>

                                    <div class="skillbar-title-member"><span>CSS3</span></div>
                                    <div class="skill-bar-percent-member">95%</div>
                                    <div class="skillbar-member" data-percent="95%">
                                        <div class="skillbar-bar-member"></div>
                                    </div>

                                    <div class="skillbar-title-member"><span>Javascript</span></div>
                                    <div class="skill-bar-percent-member">55%</div>
                                    <div class="skillbar-member" data-percent="55%">
                                        <div class="skillbar-bar-member"></div>
                                    </div>

                                </div>
                                <div class="clear"></div>
                                <p class="clear">There are many variations of passages of Lorem Ipsum available, but the
                                    majority have suffered alteration in some form.</p>

                                <div class="member-social-list">

                                    <ul>
                                        <li><a href="#" target="_blank" class="transition"><i
                                                class="fa fa-facebook fa-1x"></i></a></li>
                                        <li><a href="#" target="_blank" class="transition"><i
                                                class="fa fa-linkedin fa-1x"></i></a></li>
                                        <li><a href="#" target="_blank" class="transition"><i
                                                class="fa fa-twitter fa-1x"></i></a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                        <h3>Antony Fozborn</h3>

                        <span>Creative Director</span>

                    </div>

                    <!-- member 2 -->

                    <div class="member-box animaper">

                        <div class="moreinfo notvisible">
                            <img src="images/photos/1.jpg" class="member-photo respimg" alt="" title="">
                            <div class="member-skils">
                                <div class="overlay  team-overlay"></div>
                                <div class="skillbar-holder ms">

                                    <div class="skillbar-title-member"><span>HTML5</span></div>
                                    <div class="skill-bar-percent-member">85%</div>
                                    <div class="skillbar-member" data-percent="85%">
                                        <div class="skillbar-bar-member"></div>
                                    </div>

                                    <div class="skillbar-title-member"><span>CSS3</span></div>
                                    <div class="skill-bar-percent-member">45%</div>
                                    <div class="skillbar-member" data-percent="45%">
                                        <div class="skillbar-bar-member"></div>
                                    </div>

                                    <div class="skillbar-title-member"><span>Javascript</span></div>
                                    <div class="skill-bar-percent-member">75%</div>
                                    <div class="skillbar-member" data-percent="75%">
                                        <div class="skillbar-bar-member"></div>
                                    </div>

                                </div>
                                <div class="clear"></div>
                                <p class="clear">There are many variations of passages of Lorem Ipsum available, but the
                                    majority have suffered alteration in some form.</p>

                                <div class="member-social-list">

                                    <ul>
                                        <li><a href="#" target="_blank" class="transition"><i
                                                class="fa fa-facebook fa-1x"></i></a></li>
                                        <li><a href="#" target="_blank" class="transition"><i
                                                class="fa fa-twitter fa-1x"></i></a></li>
                                        <li><a href="#" target="_blank" class="transition"><i
                                                class="fa fa-dribbble fa-1x"></i></a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                        <h3>Jesse Small</h3>
                        <span>Web Designer</span>

                    </div>

                    <!-- member 3 -->

                    <div class="member-box  animaper">

                        <div class="moreinfo notvisible">
                            <img src="images/photos/1.jpg" class="member-photo respimg" alt="" title="">
                            <div class="member-skils">
                                <div class="overlay  team-overlay"></div>
                                <div class="skillbar-holder ms">

                                    <div class="skillbar-title-member"><span>HTML5</span></div>
                                    <div class="skill-bar-percent-member">25%</div>
                                    <div class="skillbar-member" data-percent="15%">
                                        <div class="skillbar-bar-member"></div>
                                    </div>

                                    <div class="skillbar-title-member"><span>CSS3</span></div>
                                    <div class="skill-bar-percent-member">100%</div>
                                    <div class="skillbar-member" data-percent="100%">
                                        <div class="skillbar-bar-member"></div>
                                    </div>

                                    <div class="skillbar-title-member"><span>Javascript</span></div>
                                    <div class="skill-bar-percent-member">85%</div>
                                    <div class="skillbar-member" data-percent="85%">
                                        <div class="skillbar-bar-member"></div>
                                    </div>

                                </div>
                                <div class="clear"></div>
                                <p class="clear">There are many variations of passages of Lorem Ipsum available, but the
                                    majority have suffered alteration in some form.</p>
                                <div class="member-social-list">

                                    <ul>
                                        <li><a href="#" target="_blank" class="transition"><i
                                                class="fa fa-facebook fa-1x"></i></a></li>
                                        <li><a href="#" target="_blank" class="transition"><i
                                                class="fa fa-twitter fa-1x"></i></a></li>
                                        <li><a href="#" target="_blank" class="transition"><i
                                                class="fa fa-google-plus fa-1x"></i> </a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                        <h3>Jessica Braun</h3>
                        <span>Clients Support</span>

                    </div>

                </div>

            </div>

        </div>    <!--===============  section team end ===============-->

        <!--=============== section servises ===============-->

        <div id="servises" class="sections">

            <div class="content">

                <div class="quote-icon"><i class="fa fa-cogs"></i></div>
                <div class="rester"></div>
                <div class="rester red"></div>

                <div class="container">
                    <h3 class="sections-head white">What we do</h3>
                    <h2 class="white">Services</h2>
                    <div class="small-separator ws"></div>


                    <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur et
                        neque ac congue. Sed pulvinar metus eu lectus suscipit tempor. Aliquam arcu massa, mattis eget
                        mattis vitae, porttitor eget eros. Integer ullamcorper eleifend sapien at scelerisque. Ut a
                        metus dictum, eleifend massa convallis, sollicitudin libero. Vestibulum ac ipsum sem. Fusce
                        elementum blandit interdum.</p>

                    <div class="row" id="service_boxes">

                        <div class="service_box animaper">

                            <a name="0" class="animbox">Web Design</a>

                        </div>

                        <div class="service_box actser animaper">

                            <a name="1" class="animbox">Development</a>

                        </div>

                        <div class="service_box animaper">

                            <a name="2" class="animbox">Print Design</a>

                        </div>

                    </div>
                </div>

                <div class="serviseslider-holder no-nav">
                    <div class="container">
                        <div class="serviseslider">

                            <ul class="slides">

                                <!-- fist-slide -->

                                <li>

                                    <div class="icon-holder">
                                        <i class="fa fa-trophy fa-2x"></i>
                                    </div>

                                    <h3><span></span>Web Design<span></span></h3>

                                    <h4>Web Design / Responsive / Landing Page</h4>

                                    <p>Nulla tincidunt interdum leo. Cras molestie eros velit, vitae malesuada mauris
                                        tincidunt ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis
                                        mollis nec leo at viverra. Ut quis malesuada urna. Nunc cursus aliquet est. In
                                        sit amet risus sed lacus tincidunt volutpat. Vestibulum et posuere purus.</p>

                                </li>

                                <!-- second-slide -->

                                <li>

                                    <div class="icon-holder">
                                        <i class="fa fa-heart-o fa-2x"></i>
                                    </div>

                                    <h3><span></span>Development<span></span></h3>
                                    <h4>CMS Implementation / Web Apps / Mob Apps</h4>

                                    <p>Aenean at lacus nec odio condimentum egestas. Pellentesque et pellentesque orci.
                                        Donec in commodo sapien. Donec id ante odio. Sed ut mollis nisl. Duis eu dapibus
                                        leo. Etiam nec nisl non mi aliquam laoreet sed nec nulla. Integer ultrices
                                        laoreet urna, et congue magna tempus nec. Phasellus purus felis, commodo a
                                        suscipit et, consectetur id diam. Proin ullamcorper id neque eget pulvinar.</p>

                                </li>

                                <!-- third-slide -->

                                <li>

                                    <div class="icon-holder">
                                        <i class="fa fa-pencil fa-2x"></i>
                                    </div>

                                    <h3><span></span>Print Design<span></span></h3>
                                    <h4>Branding / Posters / Flyers</h4>

                                    <p>Vestibulum accumsan viverra facilisis. Sed at euismod elit, eu convallis felis.
                                        Pellentesque pretium tellus non nisl placerat posuere. Integer velit dolor,
                                        porta ut pretium vitae, adipiscing vitae elit. Maecenas condimentum justo mattis
                                        condimentum iaculis. Morbi faucibus, magna eu rhoncus cursus, ante augue sodales
                                        sapien, ac convallis lorem arcu ac risus. Vestibulum commodo tellus id felis
                                        porttitor pharetra. In metus magna, posuere at libero et, ultricies feugiat
                                        urna. Sed posuere malesuada commodo. </p>

                                </li>

                            </ul>

                        </div>

                    </div>

                </div>
            </div>
        </div><!--=============== section servises end ===============-->

        <!--=============== section testimontals ===============-->

        <div id="testimonials" class="sections">
            <div class="content">
                <div class="quote-icon"><i class="fa fa-quote-right"></i></div>
                <div class="rester"></div>
                <div class="rester black"></div>

                <div class="container">


                    <div class="clear"></div>

                    <div id="clientsay" class="owl-carousel">

                        <!--1 testimontal -->

                        <div class="item">

                            <p>" Aliquam tortor lorem, fringilla tempor dignissim at, pretium et arcu. Sed ut
                                perspiciatis unde omnis iste natus error sit "</p>
                            <span>- Quincafe Via Facebook -</span>

                        </div>

                        <!--2 testimontal -->

                        <div class="item">

                            <p>" Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis mollis nec leo at
                                viverra. Ut quis malesuada urna. Nunc cursus aliquet est "</p>
                            <span>- Bayzug via Twitter -</span>

                        </div>

                        <!--3 testimontal -->

                        <div class="item">

                            <p>" There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form "</p>
                            <span>- Evroname via Facebook -</span>

                        </div>

                    </div>

                </div>

            </div>

        </div> <!--=============== section testimontal end ===============-->

        <!--=============== section portfolio ===============-->

        <div id="portfolio" class="sections ws">

            <div class="content">

                <div class="quote-icon"><i class="fa fa-suitcase"></i></div>
                <div class="container grid1">
                    <h3 class="sections-head">Portfolio</h3>
                    <h2>Our work</h2>

                    <div class="small-separator"></div>
                    <p> Morbi faucibus, magna eu rhoncus cursus, ante augue sodales sapien, ac convallis lorem arcu ac
                        risus. Vestibulum commodo tellus id felis porttitor pharetra. In metus magna, posuere at libero
                        et, ultricies feugiat urna. Sed posuere malesuada commodo. </p>
                </div>

                <!-- portfolio filters -->

                <div id="options" class="clear">

                    <ul id="filters" class="option-set" data-option-key="filter">

                        <li class="filter actcat" data-filter="all">All</li>
                        <li class="filter" data-filter="category_1">Web</li>
                        <li class="filter" data-filter="category_2">Design</li>
                        <li class="filter" data-filter="category_3">Branding</li>
                        <li class="filter" data-filter="category_4">Video</li>

                    </ul>

                </div>


                <!-- Projects links -->

                <div class="aih">

                    <ul id="folio_container" class="grid-full animaper">

                        <!-- 1 project -->

                        <li class="box  mix category_1 mix_all">
                            <a href="#!projects/project-1.html">
                                <img src="images/folio/1.jpg" class="respimg" alt="" title="">
                                <div class="folio-name clear">
                                    <div class="folio-overlay">
                                        <span class="overlay red"></span>
                                        <h4>Vestibulum</h4>
                                        <h6>design / web</h6>
                                    </div>
                                </div>
                            </a>

                        </li>

                        <!-- 2 project -->

                        <li class="box mix category_4 mix_all">
                            <a href="#!projects/project-2.html">
                                <img src="images/folio/1.jpg" class="respimg" alt="" title="">
                                <div class="folio-name clear">
                                    <div class="folio-overlay">
                                        <span class="overlay red"></span>
                                        <h4>Phasellus</h4>
                                        <h6>design / web</h6>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <!-- 3 project -->

                        <li class="box  mix category_3 mix_all">
                            <a href="#!projects/project-3.html">
                                <img src="images/folio/1.jpg" class="respimg" alt="" title="">
                                <div class="folio-name clear">
                                    <div class="folio-overlay">
                                        <span class="overlay red"></span>
                                        <h4>Mauris</h4>
                                        <h6>branding / video</h6>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <!-- 4 project -->

                        <li class="box  mix category_4 mix_all">
                            <a href="#!projects/project-4.html">
                                <img src="images/folio/1.jpg" class="respimg" alt="" title="">
                                <div class="folio-name clear">
                                    <div class="folio-overlay">
                                        <span class="overlay red"></span>
                                        <h4>Vivamus gravida</h4>
                                        <h6>branding / video</h6>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <!-- 5 project -->

                        <li class="box mix category_2 mix_all">
                            <a href="single-project.html">
                                <img src="images/folio/1.jpg" class="respimg" alt="" title="">
                                <div class="folio-name clear">
                                    <div class="folio-overlay">
                                        <span class="overlay red"></span>
                                        <h4>Aliquam</h4>
                                        <h6>Single Project</h6>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <!-- 6 project -->

                        <li class="box mix category_2 mix_all">
                            <a href="#!projects/project-6.html">
                                <img src="images/folio/1.jpg" class="respimg" alt="" title="">
                                <div class="folio-name clear">
                                    <div class="folio-overlay">
                                        <span class="overlay red"></span>
                                        <h4>Fusce</h4>
                                        <h6>branding / design</h6>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <!-- 7 project -->

                        <li class="box mix category_3 mix_all">
                            <a href="#!projects/project-7.html">
                                <img src="images/folio/1.jpg" class="respimg" alt="" title="">
                                <div class="folio-name clear">
                                    <div class="folio-overlay">
                                        <span class="overlay red"></span>
                                        <h4>Integer a porta</h4>
                                        <h6>branding / web</h6>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <!-- 8 project -->

                        <li class="box mix category_1 mix_all">
                            <a href="#!projects/project-8.html">
                                <img src="images/folio/1.jpg" class="respimg" alt="" title="">
                                <div class="folio-name clear">
                                    <div class="folio-overlay">
                                        <span class="overlay red"></span>
                                        <h4>Sed nec</h4>
                                        <h6>Web / design</h6>
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>

                </div>

                <!-- ajax-section -->

                <div class="clear"></div>

                <div id="ajax-section">
                    <div id="loader"></div>
                    <div id="ajax-content-outer">
                        <div id="ajax-content-inner"></div>
                    </div>
                    <div id="project-navigation">
                        <ul>
                            <li id="prevProject"><a href="#"></a></li>
                            <li id="nextProject"><a href="#"></a></li>
                        </ul>
                    </div>
                    <div id="closeProject">
                        <div class="grid-3">
                            <a href="#/">Close</a>
                        </div>
                    </div>
                </div>
                <!-- ajax-section end -->

            </div>

        </div>    <!--=============== section portfolio end ===============-->

        <!--=============== section subscribe ===============-->

        <div id="subscribe" class="sections">
            <div class="content">
                <div class="quote-icon"><i class="fa fa-rss"></i></div>
                <div class="rester"></div>
                <div class="rester black"></div>
                <div class="container">

                    <h3 class="sections-head">Subscribe</h3>
                    <div class="small-separator ws"></div>
                    <div class="clear"></div>

                    <div class="subcribe">
                        <span class="overlay suboverlay"></span>
                        <fieldset>
                            <form class="subscriptionForm" method="post">
                                <input id="subscriptionForm" class="inputForm" type="text"
                                       value="Enter Your Email Address"
                                       onFocus="if (this.value=='Enter Your Email Address') this.value=''"
                                       onBlur="if (this.value==''){this.value='Enter Your Email Address'}"/>
                                <input type="submit" id="submitButton" class="transition" value="Send">
                            </form>

                            <div id="success">Thanks for your subscription</div>
                            <div id="error">Please enter a valid email address</div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>    <!--=============== section subscribe end ===============-->


        <!--=============== section prising ===============-->

        <div id="prices" class="sections ws">
            <div class="content">
                <div class="quote-icon"><i class="fa fa-usd"></i></div>
                <div class="container">
                    <h3 class="sections-head">Pricing tables</h3>
                    <h2>Our Prices</h2>

                    <div class="small-separator"></div>

                    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis mollis nec leo at viverra. Ut
                        quis malesuada urna. Nunc cursus aliquet est.</p>

                    <div id="priceSlider" class="owl-carousel">

                        <!--1 plan -->

                        <div class="item">

                            <div class="plan">
                                <ul class="planContainer transition2">
                                    <li><h3>Plan 1</h3></li>
                                    <li class="price">
                                        <div class="price-nominal"><span>$</span> 30 <span>.00</span></div>
                                        <div class="term">Per month</div>
                                    </li>
                                    <li>
                                        <ul class="options">
                                            <li class="nocolor">2x <span>option 1</span></li>
                                            <li>Free <span>option 2</span></li>
                                            <li class="nocolor">Unlimited <span>option 3</span></li>
                                            <li>Unlimited <span>option 4</span></li>
                                            <li class="nocolor">1x <span>option 5</span></li>
                                        </ul>
                                    </li>
                                    <li class="button"><a href="#contacts" class="order">Order</a></li>
                                </ul>
                            </div>

                        </div>

                        <!--2 plan -->

                        <div class="item">

                            <div class="plan">
                                <ul class="planContainer transition2">
                                    <li><h3>Plan 2</h3></li>
                                    <li class="price hot">
                                        <div class="price-nominal"><span>$</span> 70 <span>.00</span></div>
                                        <div class="term">Per month</div>
                                    </li>
                                    <li>
                                        <ul class="options">
                                            <li class="nocolor">2x <span>option 1</span></li>
                                            <li>Free <span>option 2</span></li>
                                            <li class="nocolor">Unlimited <span>option 3</span></li>
                                            <li>Unlimited <span>option 4</span></li>
                                            <li class="nocolor">1x <span>option 5</span></li>
                                        </ul>
                                    </li>
                                    <li class="button"><a href="#contacts" class="order hot">Order</a></li>
                                </ul>
                            </div>

                        </div>

                        <!--3 plan -->
                        <div class="item">

                            <div class="plan">
                                <ul class="planContainer transition2">
                                    <li><h3>Plan 3</h3></li>
                                    <li class="price">
                                        <div class="price-nominal"><span>$</span> 90 <span>.00</span></div>
                                        <div class="term">Per month</div>
                                    </li>
                                    <li>
                                        <ul class="options">
                                            <li class="nocolor">2x <span>option 1</span></li>
                                            <li>Free <span>option 2</span></li>
                                            <li class="nocolor">Unlimited <span>option 3</span></li>
                                            <li>Unlimited <span>option 4</span></li>
                                            <li class="nocolor">1x <span>option 5</span></li>
                                        </ul>
                                    </li>
                                    <li class="button"><a href="#contacts" class="order">Order</a></li>
                                </ul>
                            </div>

                        </div>

                        <!--4 plan -->
                        <div class="item">

                            <div class="plan">
                                <ul class="planContainer transition2">
                                    <li><h3>Plan 4</h3></li>
                                    <li class="price">
                                        <div class="price-nominal"><span>$</span> 120 <span>.00</span></div>
                                        <div class="term">Per month</div>
                                    </li>
                                    <li>
                                        <ul class="options">
                                            <li class="nocolor">2x <span>option 1</span></li>
                                            <li>Free <span>option 2</span></li>
                                            <li class="nocolor">Unlimited <span>option 3</span></li>
                                            <li>Unlimited <span>option 4</span></li>
                                            <li class="nocolor">1x <span>option 5</span></li>
                                        </ul>
                                    </li>
                                    <li class="button"><a href="#contacts" class="order">Order</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!--===============  section prising end ===============-->


        <!--=============== section clients ===============-->

        <div id="clientlist" class="no-nav">
            <div class="content">
                <div class="client-carusel-holder no-nav">

                    <div class="container">

                        <div id="client-carusel" class="owl-carousel">

                            <div class="item">
                                <img src="images/clients/1.png" class="respimg" alt="" title="">
                            </div>

                            <div class="item">
                                <img src="images/clients/2.png" class="respimg" alt="" title="">
                            </div>

                            <div class="item">
                                <img src="images/clients/3.png" class="respimg" alt="" title="">
                            </div>

                            <div class="item">
                                <img src="images/clients/4.png" class="respimg" alt="" title="">
                            </div>

                            <div class="item">
                                <img src="images/clients/5.png" class="respimg" alt="" title="">
                            </div>

                            <div class="item">
                                <img src="images/clients/6.png" class="respimg" alt="" title="">
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>    <!--===============  section clients end ===============-->

        <!--=============== section contacts ===============-->

        <div id="contacts" class="sections">
            <div class="content">
                <div class="quote-icon to-top"><i class="fa fa-angle-up"></i></div>
                <div class="container">

                    <!--contact form -->

                    <div class="contactForm clear">
                        <fieldset id="contact_form">

                            <div class="grid-half">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name"/>
                            </div>

                            <div class="grid-half">
                                <label for="email" class="em">Email</label>
                                <input type="text" name="email" id="email" class="right"/>
                            </div>

                            <label for="message" class="m-top">Message</label>
                            <textarea name="message" id="message"></textarea>

                            <div class="clear"></div>

                            <label>
                                <button class="submit_btn transition" id="submit_btn">SEND</button>
                            </label>
                            <div id="result"></div>

                        </fieldset>

                    </div>

                    <div class="contact-details">


                        <div class="grid-2">
                            <div class="smallicon animaper phone"><i class="fa fa-mobile fa-2x"></i></div>
                            <span>+7(111)123456789</span>
                        </div>

                        <div class="grid-2 showform">
                            <div class="smallicon actform  animaper"><i class="fa fa-envelope-o fa-2x"></i></div>
                            <span>yourmail@domain.com</span>
                        </div>

                        <div class="grid-2">
                            <div class="smallicon animaper showmap mnv "><i class="fa fa-home fa-2x"></i></div>
                            <span>Third Main Street, 27th Brooklyn,<br> NY City 1000-204 NY</span>
                        </div>

                    </div>

                </div>

                <!--map-->
                <div class="mapbox">
                    <div class="map-decor"></div>
                    <div class="close-map"><img src="images/close-white.png" alt="">
                        <div class="triangle"></div>
                    </div>
                    <div id="map_canvas"></div>
                </div>

                <div class="social-list">

                    <ul>
                        <li><a href="#" target="_blank" class="transition"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" target="_blank" class="transition"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank" class="transition"><i class="fa fa-linkedin"></i></a></li>
                    </ul>

                </div>

                <!-- footer -->

                <div class="footer clear">

                    <p>Cashemir ©2014 All rights reserved.More Templates <a href="http://www.cssmoban.com/"
                                                                            target="_blank" title="模板之家">模板之家</a> -
                        Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                    <div class="small-separator ws"></div>

                </div> <!--footer end-->

            </div>
        </div><!--=============== section contacts end ===============-->


    </div> <!--=============== wrapper end ===============-->

</div><!--=============== main end ===============-->

<!--=============== javascript ===============-->

<script type="text/javascript" src="statics/js/jquery.min.js"></script>
<script type="text/javascript" src="statics/js/jpreloader.min.js"></script>
<script type="text/javascript" src="statics/js/smoothscroll.js"></script>
<script type="text/javascript" src="statics/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="statics/js/superslides.js"></script>
<script type="text/javascript" src="statics/js/mixitup.js"></script>
<script type="text/javascript" defer src="statics/js/jquery.flexslider.js"></script>
<script type="text/javascript" src="statics/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="statics/js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="statics/js/hoverdir.js"></script>
<script type="text/javascript" src="statics/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="statics/js/appear.js"></script>
<script type="text/javascript" src="statics/js/jquery.nav.js"></script>
<script type="text/javascript" src="statics/js/fitvids.js"></script>
<script type="text/javascript" src="statics/js/jquery.lavalamp.min.js"></script>
<script type="text/javascript" src="statics/js/jquery.hammer.min.js"></script>
<script type="text/javascript" src="statics/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="statics/js/scripts.js"></script>
</body>
</html>